* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* background */

#div1 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

div#div1>img {
    height: 100%;
    width: 100%;
    border: 0;
}

/* Hellow new friend */

.hello {
    margin-left: 10px;
    margin-top: 20px;
    color: #fff;
    font-size: 4em;
}

/* 版权信息 */

.copyright {
    margin-top: 20px;
    margin-left: 10px;
    color: #727272;
    font-size: 1em;
}

.underline {
    height: 1px;
    border-top: none;
    color: #fff;
    width: 40%;
}

/* 四大板块 */

.text {
    color: #7a7878;
    font-size: 0.5em;
}

.Wrapper div {
    float: left;
}

.sub {
    margin-top: 10px;
    margin-left: 10px;
    font-size: .5em;
    border: 1px solid #fff;
    background-color: #fff;
    color: #424242;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    z-index: 1;
}

img {
    margin-bottom: 10px;
}

.sub img,
.support img {
    display: block;
    width: 30px;
    margin-left: 40%;
    margin-top: 20px;
}

.contact,
.ref {
    left: 20px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: .5em;
    border: 1px solid #fff;
    background-color: #fff;
    color: #424242;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    z-index: 1;
}

.support {
    margin-top: 10px;
    margin-left: 10px;
    font-size: .5em;
    border: 1px solid #55ea9f;
    background-color: #55ea9f;
    color: #fff;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    z-index: 1;
}

.contact img {
    display: block;
    width: 27px;
    margin-left: 35%;
    margin-top: 10px;
}

.ref img {
    display: block;
    width: 40px;
    margin-left: 30%;
    margin-top: 10px;
}

/* 清除浮动流 */

.Wrapper::after {
    content: '';
    display: block;
    clear: both;
}

/* 介绍文本 */

.introtext {
    margin-top: 50px;
    position: absolute;
    display: block;
    font-size: 2em;
    color: #6977fc;
    right: 20px;
}

.line {
    height: 2px;
    border-top: none;
    background-color: #6977fc;
}

.content {
    margin-top: 100px;
}

.content div {
    float: left;
}

.circle {
    width: 75px;
    height: 75px;
    border: 1px solid #e6faff;
    background-color: #e6faff;
    border-radius: 50%;
    box-shadow: 0, 0, 25px, 6px;
}

.circle div {
    font-size: 0.1em;
    margin-top: 15px;
    margin-left: 10px;
    color: #727272;
}

.circle .name {
    color: #424242;
    font-size: 12px !important;
}

.special {
    margin-top: 30px !important;
    color: #424242 !important;
}

/* 清除浮动流 */

.content::after {
    content: '';
    display: block;
    clear: both;
}

.buttum {
    position: relative;
    margin-top: 20px;
    height: 50px;
    background-color: #47e047;
    border-radius: 30px;
}

.buttum div {
    margin-top: 5px;
    text-align: center;
    color: #727272;
    font-size: 0.1em;
}

#join {
    position: relative;
    top: 10px;
    font-size: 1em;
    font-weight: bold;
    color: #424242;
}